fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.4
python-dotenv==1.1.0
openai==1.78.1
langchain-core==0.3.59
langchain-openai==0.3.16
langgraph==0.4.1
python-multipart==0.0.29
pypdf==6.11.0
SQLAlchemy==2.0.51
PyMySQL==1.1.1
cryptography==45.0.4
redis==6.2.0
